@charset "UTF-8";
/*========= base ===========*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background: #15202b;
  overflow-y: hidden;
  overflow-y: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  color: #00acee;
}

img {
  max-width: 18rem;
  vertical-align: bottom;
}

ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.6;
}

#app {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}

.arrow {
  position: relative;
  top: -12.5rem;
  left: 4.25rem;
  max-width: 2rem;
  z-index: 200;
  -webkit-transform: rotate(-37.75deg);
          transform: rotate(-37.75deg);
}

.wheel {
  max-width: 15rem;
  z-index: 100;
  margin-right: 2rem;
  border: none;
}

.button {
  display: block;
  margin: 0 auto;
  max-width: 120px;
  margin-top: 1px;
  z-index: 50;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.discription dl {
  border: #7e8e9b solid 2px;
  min-width: 20rem;
  max-width: 25rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.discription dl dt {
  float: left;
  margin-left: 1rem;
}

.discription dl dt img {
  width: 2rem;
}

.discription dl dt .follow {
  width: 3rem;
  margin-bottom: 0.5rem;
}

.discription dl dd {
  color: #ffffff;
  font-size: 0.5rem;
  height: 2rem;
  line-height: 2rem;
  text-align: right;
  margin-right: 1rem;
}

footer {
  text-align: center;
  height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #00acee;
}

footer .copy {
  margin: 0 auto;
}

@media screen and (min-width: 560px) {
  #app .button {
    position: absolute;
    left: 70%;
    top: 70%;
  }
  .discription {
    position: absolute;
    top: 10%;
    left: 68%;
    width: 3rem;
    z-index: -200;
  }
  .discription dl {
    min-width: 10rem;
  }
  .discription dl dt {
    font-size: 1rem;
    margin-left: 0;
  }
  .discription dl dt .icon_smaller {
    width: 1rem;
  }
  .discription dl dt .follow {
    width: 2.5rem;
    margin-top: 0.5rem;
  }
  .discription dl dd {
    font-size: .3rem;
    margin-right: 0;
  }
  footer {
    height: 18%;
  }
}

@media screen and (min-width: 960px) {
  #app {
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
  }
  #app .button {
    max-width: 15rem;
  }
  .arrow {
    max-width: 3.5rem;
    top: -20.5rem;
    left: 7rem;
  }
  .wheel {
    max-width: 25rem;
  }
  .discription dl {
    min-width: 25rem;
    max-width: 25rem;
    margin-top: 2rem;
    text-align: right;
  }
  .discription dl dt {
    margin-left: 1rem;
    text-align: left;
  }
  .discription dl dt .icon_smaller {
    width: 2rem;
  }
  .discription dl dt .follow {
    width: 3rem;
    margin-bottom: 0.5rem;
  }
  .discription dl dd {
    color: #ffffff;
    font-size: 0.5rem;
    height: 2rem;
    line-height: 2rem;
    text-align: right;
    margin-right: 1rem;
  }
  footer {
    height: 30vh;
  }
}
